<html>
<head>
    {% load static %}
  {% block js %}

  {% endblock %}

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "css/basetrash.css" %}">
    <link rel="stylesheet" href="{% static "css/menu-style.css" %}">
    <link rel="stylesheet" href="{% static "css/userinfo.css" %}">
    <link rel="stylesheet" href="{% static "css/filecontainer.css" %}">
    <link rel="stylesheet" href="{% static "css/newfolder.css" %}">
    <link rel="stylesheet" href="{% static "css/contextmenu.css" %}">
<script src="{% static "js/contextmenu.js"%}"></script>
{% block link %}
{% endblock %}

<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script>
            var URL = "{% url 'my_view_that_updates_pieFact' %}";
    </script>


</head>
<div class="newfolder-wrapper" id='newfolder-popup'>
    <div class="newfolder-r">
        <h3>New folder</h3>
        <i id="newfolder-close" class="fas fa-times" onClick="newFolderClose()"></i>
    </div>
    <div class="newfolder-r1">
        <form id='newfolderform' method='post' action='/rootfolder/'>
        <input type="text" name="newfolder-q" class="newfolder-q">
        </form>
    </div>
    <div class="newfolder-r2">
        <a href="#" class="close-link" onClick="newFolderClose()"><div class="newfolder-cancel">CANCEL</div></a>
        <a href="#" class="create-link"><div onclick="document.getElementById('newfolderform').submit();" class="newfolder-create">CREATE</div></a>
    </div>
</div>
 
<div class="cover"></div>
<div class="page" id="page" >

  <div class="nav">
    <div class="nav-logo-wrapper">
        <img class="logo" src="{% static "images/logo.png" %}">
        <span class="logo-txt">Ether</span>
    </div>
<div class="new-popup-wrapper" id="new-popup">
      <div class="new-popup-item" id='newfolder' onclick='newFolder()'>
          <div class="new-icon-wrapper"><i class="far fa-hdd"></i></div>
          <span>Folder<span>
      </div>
      <hr />
      <div class="new-popup-item" id="fileuploaditem">
          <div class="new-icon-wrapper"><i class="far fa-hdd"></i></div>
          <span>File upload<span>
     </div>
      <div class="new-popup-item" id='formitem'>
          <div class="folderupload-wrapper">
          <form id="folderuploadform" method="post" action='/uploads/handle_upload/' enctype='multipart/form-data' onsubmit="updatePieFact();" onchange="$(this).submit();">
          <label id="folderupload">
          <i id='folderuploadicon' class="far fa-hdd"></i>
          Folder upload
          </label>


<form action="/uploads/handle_upload/" method="POST" enctype='multipart/    form-data' name='folderform'>
 <input id='filepicker' class='folderuinput' type='file' name='file_field' webkitdirectory            >
     </form>
          </div>

     </div>
      <hr id="new-hr">
      <div class="new-popup-item">
          <div class="new-icon-wrapper"><i class="far fa-hdd"></i></div>
          <span>Ether Doc<span>
     </div>
      <div class="new-popup-item">
          <div class="new-icon-wrapper"><i class="far fa-hdd"></i></div>
          <span>Ether Sheets<span>
     </div>
      <div class="new-popup-item">
          <div class="new-icon-wrapper"><i class="far fa-hdd"></i></div>
          <span>Ether Slides<span>
     </div>
  </div>
    <div id="new-btn" class="new-btn-wrapper">
    <div id="new-btn-txt" class="new-btn">
     New
    </div>
    </div>
    
   <div class="nav-ul">
        <a class="nav-link active" href="/uploads/mydrive/" >
            <div class="nav-item active">
                <div class="icon-wrapper">
                    <i class="far fa-hdd fa-lg"></i>
                </div>
                <span>My Drive</span>
            </div>
        </a>
        <a class="nav-link">
            <div class="nav-item">
                <div class="icon-wrapper">
                    <i class="fas fa-share fa-lg"></i>
                </div>
                <span>Shared with me</span>
            </div>
        </a>
        <a class="nav-link" href='/uploads/recent/'>
            <div class="nav-item">
                <div class="icon-wrapper">
                    <i class="fas fa-clock fa-lg"></i>
                </div>
                <span>Recent</span>
            </div>
        </a>
        <a class="nav-link" href="/starred/">
            <div class="nav-item">
                <div class="icon-wrapper">
                    <i class="far fa-star fa-lg"></i>
                </div>
                <span>Starred</span>
            </div>
        </a>
        <a class="nav-link" href="/trash/">
            <div class="nav-item">
                <div class="icon-wrapper">
                    <i class="fas fa-trash fa-lg"></i>
                </div>
                <span>Trash</span>
            </div>
        </a>
        <hr class="nav-hr">
        <a class="nav-link" id="backups">
            <div class="nav-item">
                <div class="icon-wrapper">
                    <i class="fas fa-upload fa-lg"></i>
                </div>
                <span>Backups</span>
            </div>
        </a>
        <hr class="nav-hr" />
        <a class="nav-link">
            <div class="nav-item">
                <div class="icon-wrapper">
                    <i class="far fa-hdd fa-lg"></i>
                </div>
                <span>Storage</span>
            </div>
        </a>

    </div>
  </div>


  <div class="header">
      <input type="text" name='search' class='search'placeholder="&#xF002;    Search Drive" style="font-family:Arial, FontAwesome" />
      <div class="header-icon-wrapper">
          <div id="circle">
          <i class="far fa-question-circle fa-lg"></i>
          </div>
          <div id="cog">
          <i class="fas fa-cogs fa-lg"></i>
          </div>
          <div id="box">
          <i class="fas fa-th fa-lg"></i>
          </div>
      </div>
      <div class="hover" id="user-info-popup">
      <div class="user-info" onClick='userinfoToggel()'>
          M
      </div>
      </div>

  </div>



  <div class="subheader">
     <div id="user-info-p" class="userinfo-wrapper">
         <div class="userinfo-header">
             <div class="user-logo">
                 <span>M</span>
             </div>
             <div class="user-details">
                 <span class="username">Mason Cruse</span>
                 <span class="email">crusemason1995@gmail.com</span>
                 <span class="privacy"><a class="privacy-link">Privacy</a></span>
                 <a class="ether-account-link" href="#"><div class="ether-account">Ether Account</div></a>
             </div>
         </div>
             <div class="userinfo-btn-wrapper">
                 <a class="add-link" href="#"><div class="add-account">Add Account</div></a>
                 <a class="signout-link" href="/users/logout/"><div class="signout">Sign out</div></a>
             </div>
     </div>
   <div id="subheader-h">
   <div id="subheader-header"> 
    My Drive
   </div>
   </div>
   <div class="sub">
   <div class="sub-wrapper">
    <div class="sub-header-icon-wrapper">
          <div id="circle">
          <i class="fas fa-paperclip fa-lg"></i>
          </div>
          <div id="circle">
          <i class="fas fa-users fa-lg"></i>
          </div>
          <div id="circle">
          <i class="fas fa-eye fa-lg"></i>
          </div>
          <a href='#' id='subhtrash'>
          <div id="circle">
          <i class="fas fa-trash fa-lg"></i>
          </div>
          </a>
          <div id="circle">
          <i class="fas fa-ellipsis-v fa-lg"></i>
          </div>
  
    </div>
   </div>

   </div>
   <div class="vert"></div>
   <div class="sub-icon-d-wrapper">
          <div id="circle">
          <i class="fas fa-table fa-lg"></i>
          </div>
          <div id="circle">
          <i class="far fa-question-circle fa-lg"></i>
          </div>
        
   </div>
  </div>
  <div class="content">
      {% block content %}
      {% endblock %}

      {% block content1 %}
      {% endblock %}
  </div>
  <div>

<!-- initially hidden right-click menu -->

<!-- initially hidden right-click menu -->
    {% include 'includes/filecontext.html' %}
    {% include 'includes/filecontextfolder.html' %}

<script>
        var pie = [];
document.getElementById("filepicker").addEventListener("change", function(event) {
  let files = event.target.files;

  for (let i=0; i<files.length; i++) {
    pie.push(files[i].webkitRelativePath);
    updatePieFact(pie[i]);
    console.log(pie[i]);
  };
}, false);
function updatePieFact(pieFact){
    var data = {'pieFact': pieFact};
    $.post(URL, data, function(response){
        if(response === 'success'){ console.log('Yay!'); }
        else{ console.log('Error! :('); }
    });
}
$(document).ready(function(){
    $('#btnPlus').click(function(){
        pieFact *= 1.1;
        updatePieFact();
    });
});


</script>
</html>
