.filecontainer-wrapper{
    flex:1 0 30%;
    z-index:-1;
    margin:.5rem .5rem;
    max-width:270px;
    max-height:270px;
}
.file-content{
    height:210px;
    z-index:-1;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-top:1px solid rgba(0,0,0,.3);
    border-left:1px solid rgba(0,0,0,.3);
    border-right:1px solid rgba(0,0,0,.3);
    border-bottom:none;
    overflow:hidden;
}
.file-content img{
    width:100%;
    height:100%;
}

.file-info{
    height:57px;
    z-index:-1;
    border-bottom:1px solid rgba(0,0,0,.3);
    border-left:1px solid rgba(0,0,0,.3);
    border-right:1px solid rgba(0,0,0,.3);
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    font-family:arial;
    
    display:flex;
    align-items:center;
}
#file-image{
}
.filecontainer-filename{
    margin-left:1.3rem;
}
.fileflex{
    display:flex;
    flex:1 0 30;

}
.container{
    display:flex;
    flex-wrap:wrap;
}
.icon-circle{
    height:40px;
    width:40px;
    display:flex;
    background-color:white;
    justify-content:center;
    align-items:center;
    margin-left:1.2rem;
    border-radius:50%;
    font-size:1.2em;
}
