.filecontainer-wrapper{
    z-index:-1;
    margin:.65rem .65rem;
}
.file-content{
    height:210px;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:-1;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-top:1px solid rgba(0,0,0,.3);
    border-left:1px solid rgba(0,0,0,.3);
    border-right:1px solid rgba(0,0,0,.3);
    border-bottom:none;
    overflow:hidden;
}
.file-content img{
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
}

.file-info{
    height:57px;
    z-index:-1;
    border-bottom:1px solid rgba(0,0,0,.3);
    border-left:1px solid rgba(0,0,0,.3);
    border-right:1px solid rgba(0,0,0,.3);
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    font-family:arial;
    
    display:flex;
    align-items:center;
}
#file-image{
}
.filecontainer-filename{
    font-family:'Roboto', arial;
    margin-left:1.3rem;
}
.fileflex{
    display:flex;
    justify-content:flex-start;

}
.container{
    display:flex;
    flex-wrap:wrap;
}
.icon-circle{
    height:40px;
    width:40px;
    display:flex;
    background-color:white;
    justify-content:center;
    align-items:center;
    margin-left:1.2rem;
    border-radius:50%;
    font-size:1.2em;
}
.file{
    max-width:320px;
    flex:1 0 20%;
}
@media (max-width:1200px){
.filecontainer-wrapper{
    z-index:-1;
    margin:.5rem .5rem;
}
.file{
    max-width:260px;
}
}

.filesflex{
    display:flex;
    flex-wrap:wrap;
}

.mainwrapper{
    display:flex;
    min-height:1200px;
    flex-direction:column;
}
.todaywrapper{
    display:flex;
    min-height:400px;
}
.afile{

}
.fileflex{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}
.fname{
    font-family:'Roboto', arial;
    font-weight:600;
    color:rgba(0,0,0,.7);
}
