.qafileflex{
    margin-top:1rem;
    display:flex;
    flex-wrap:wrap;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-height:200px;
    overflow-x:hidden;
}
.qacontent{
    border-top-left-radius:8px;
    overflow:hidden;
    border-top-right-radius:8px;
    align-items:center;
    justify-content:center;
    max-height:120px;
    border:1px solid rgba(0,0,0,.3);
    border-bottom:none;
}
.qafooter{
    max-height:73px;
    min-height:65px;
    border:1px solid rgba(0,0,0,.3);
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
.qafilea{
    margin:5px;
    max-width:230px;
    border-radius:8px;
    
}
.qafilea:last-child{
    margin-right:1.5rem;
}

.qafiles-title{
    margin-top:1.5rem;
    margin-left:1rem;
    font-family:arial;
    font-weight:bold;
    color:rgba(0,0,0,.65);
    display:flex;
}

.qanamewrapper{
    margin-bottom:.7em;
}

.qafooterwrapper{
    margin-top:1rem;
    margin-left:1rem;

}

#qaicon{
    margin-right:1rem;
    font-size:1.2em;
}
.qaname{
    font-weight:bold;
    color:rgba(0,0,0,.78);
    font-family:'Roboto', arial;
    font-size:.9em;
}
.qadate{
    font-weight:bold;
    margin-bottom:.5rem;
    color:rgba(0,0,0,.6);
    font-family:'Roboto', arial;
    font-size:.7em;

}
.qawrapper{
}
.qacon{
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-height:400px;
    width:calc(100%-300px);
    overflow-x:hidden;
}
.qacontent{
    border-top-left-radius:8px;
    overflow:hidden;

}
#qaimg{
    flex-shrink:0;
    min-height: 100%;
}



@media (max-width:1200px){
.qafilea{
    max-width:284px;
}
.qafooter{
    min-height:73px;
    border:1px solid rgba(0,0,0,.3);
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
.qacontent{
    border-top-left-radius:8px;
    overflow:hidden;
    border-top-right-radius:8px;
    align-items:center;
    justify-content:center;
    max-height:110px;
    border:1px solid rgba(0,0,0,.3);
    border-bottom:none;
}
.qafilea:nth-child(n+3){
    display:none;
}
}
